@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-principal: #114f14;
    --verde-claro: #67d877;
    --bg-color: #f8f8f8;
    --bege:  #f8f8f8;
    --cor-contraste: #6b4f2e;
    --cor-escura: #050505;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--bg-color);
    padding-top: 110px;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-principal);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    color: var(--bege);
    cursor: pointer;
    transition: .5s;
}


.btn-default:hover{
    background-color: var(--verde-claro);
    color: var(--cor-escura);
    scale: calc(1.2);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}






