@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(home.css);
@import url(header.css);
@import url(footer.css);
:root{
    --cor-principal: #114f14;
    --verde-claro: #67d877;
    --bg-color: #f8f8f8;
    --cinza:  #d6d2d2;
    --cor-contraste: #6b4f2e;
    --cor-escura: #050505;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--bg-color);
    padding-top: 110px;
}

.btn-default{
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-principal);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    color: var(--bege);
    cursor: pointer;
    transition: .5s;
}


.btn-default:hover{
    background-color: var(--verde-claro);
    color: var(--cor-escura);
    scale: calc(1.1);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}

main{
    display: none;
}

main.active{
    display: block;
}

/*banner*/
@media (max-width: 800px) {
    .btn-default{
        font-size: 0.6rem;
    }
    .hero {
        height: 360px;
        margin: 20px;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content img {
        width: 80px;
    }
}

/*categorias*/
@media (max-width: 800px) {
    .categorias {
        padding: 30px 20px;
    }

    .categoria-grid {
        gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .categoria-card img {
        height: 160px;
        border-radius: 12px;
    }

    .categoria-card span {
        font-size: 0.9rem;
    }
}

/*produtos*/
/* --- CARROSSEL MOBILE --- */
@media (max-width: 800px) {
    .produtos {
        padding: 20px 0;
    }

    .produtos-grid {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 20px;
        padding: 20px;
        scrollbar-width: none; /* Firefox */
    }

    .produtos-grid::-webkit-scrollbar {
        display: none; /* Chrome */
    }

    .produtos-card {
        flex: 0 0 70%; /* tamanho dos cards no carrossel */
        scroll-snap-align: center;
        background: #fff;
        border-radius: 15px;
        padding: 15px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        text-align: center;
    }

    .produtos-card img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 12px;
    }

    .produtos-card span {
        font-size: 1.1rem;
        font-weight: 600;
        display: block;
        margin-top: 8px;
    }

    .produtos-card p {
        font-size: 0.9rem;
        margin-top: 4px;
        color: #444;
    }
}






